# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Local database
# mariadb/ # Scripts to create the database locally? TODO: Move to AWS separate machine


# Virtual environments
venv/
src/venv/

# Django
*.log
staticfiles/
media/

# Environment - ignore it when we are done bugfixing
# .env

# Docker
*.dockerignore

# Editor/IDE
*.swp
.vscode/
.idea/
