# Parte común de variables de entorno necesarias para el funcionamiento de la aplicación, ya sea local o AWS
# Este archivo es solo un ejemplo, quita ".example" y rellena con tus propios valores para usarlo

# -------------------
# Django y enrutamiento
# -------------------

DEBUG=True
SECRET_KEY=
STATIC_URL=/static/
STATIC_ROOT=staticfiles
DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=

# -------------------
# MariaDB
# -------------------
USE_DB=True
DB_PORT=3306


# -------------------
# Redis
# -------------------
USE_REDIS=True
REDIS_PORT=6379
REDIS_PASS="badpassw0rd"

