# Parte local de variables de entorno necesarias para el funcionamiento de la aplicación en entorno local

# -------------------
# Django y enrutamiento
# -------------------

DEBUG=False
DJANGO_ALLOWED_HOSTS=
DJANGO_CSRF_TRUSTED_ORIGINS=

# -------------------
# MariaDB
# -------------------
DJANGO_DB_NAME=
DJANGO_DB_USER=
DJANGO_DB_PASS=
DB_ENGINE=

# -------------------
# Redis
# -------------------
# REDIS HOST carga desde mapa

# -------------------
# AWS-S3
# -------------------
AWS_S3=True
AWS_S3_REGION_NAME=
AWS_STORAGE_BUCKET_NAME=
aws_access_key_id=
aws_secret_access_key=
aws_session_token=
